/* #2196F3 - accent-color колір акценту букви
 #757575 - primary-black-color основний колір букв темний
 #212121 - secondary-black-color другорядний колір букв темний
 #FFFFFF - primary-white-color основний колір букв білий
 rgba(255, 255, 255, 0.6) - secondary-white-color другорядний колір букв білий*/

:root {
  --accent-color: #2196f3;
  --primary-black-color: #757575;
  --secondary-black-color: #212121;
  --black-color: #000000;
  --primary-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --black-background-color: #2f303a;
  --white-background-color: #ffffff;
  --primary-white-background-color: #f5f5f5;
  --secondary-white-background-color: #f5f4fa;
}

/*Page*/
body {
  color: var(--secondary-black-color);
  background-color: var(--primary-white-background-color);
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.img {
  display: block;
}
/*Page-header*/
.page-header {
  border-bottom: 1px solid #ececec;
  background-color: var(--primary-white-color);
}
.nav-page {
  display: flex;
  align-items: center;
}
/*logo*/
.page-header .logo {
  color: var(--black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.page-header .logo-header {
  color: var(--accent-color);
}
/*site-nav*/
.page-header nav {
  margin: 32px 0px 32px 93px;
}
.site-nav {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
}
.site-nav li:not(:first-child) {
  margin-left: 50px;
}
.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav > li :hover,
.site-nav > li :focus {
  color: var(--accent-color);
}
/*site-auth*/
.page-header address {
  margin-left: auto;
 
}
.site-auth {
  display: flex;
  padding-left: 0px;
  align-items: center;
  flex-direction: row;
}
.site-auth li:not(:first-child) {
  margin-left: 50px;
}

.site-auth .link {
  display: flex;
  flex-direction: row;
  color: var(--primary-black-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  align-items: center;

  background-color: tomato;

}
.site-auth > li :hover,
.site-auth > li :focus {
  color: var(--accent-color);
}

.site-auth .link-mail ::before {
  display: flex;
  flex-direction: row;
  width: 16px;
  height: 12px;
  content: "";
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../images/index/mail.svg);
  align-self: center;
  
  background-color: teal;
}
.site-auth .link-tel ::before{
  display: inline-block;
  width: 10px;
  height: 16px;
  content: "";
  margin-right: 10px;
  background-repeat: no-repeat;
  align-self: center;
  background-size: contain;
  background-position: center;
  background-image: url(../images/index/tel.svg);

background-color: tomato;
}

/*HERO*/
.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  max-width: 1600px;
  background-color: var(--black-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.hero .title {
  padding: 0px;
  margin-top: 200px;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero .button {
  margin-bottom: 200px;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
}
.hero button {
  cursor: pointer;
}
.hero > button:hover,
.hero > button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
}
/*ADVANTAGE-SECTION*/
.advantage-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-background-color);
}
.advantage-section .advantage-title {
  display: none;
}
.advantage-list {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
.advantage-list .advantage-link {
  width: calc((100%-90px) / 4);
}
.advantage-list li:not(:first-child) {
  margin-left: 30px;
}
.advantage-section .advantage-name {
  padding: 0px;
  margin: 0px 0px 10px 0px;
  color: var(--secondary-black-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantage-section .advantage-text {
  padding: 0px;
  margin: 0px;
  color: var(--primary-black-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.advantage-list .advantage-link::before {
  display: inline-block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--secondary-white-background-color);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  background-size: auto;
}
.advantage-list .icon-warning::before {
  background-image: url(../images/index/warning.png);
}
.advantage-list .icon-time::before {
  background-image: url(../images/index/time.png);
}
.advantage-list .icon-planning::before {
  background-image: url(../images/index/planning.png);
}
.advantage-list .icon-technologies::before {
  background-image: url(../images/index/technologies.png);
}
/*work-section*/
.work-section {
  padding-bottom: 94px;
  background-color: var(--white-background-color);
}
.work-section .title {
  padding: 0px;
  margin: 0px 0px 50px 0px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.17;
}
.work-section .list {
  display: flex;
  padding: 0px;
}
.work-list li:not(:first-child) {
  margin-left: 30px;
}

/*team-section*/
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-white-background-color);
}
.team-section .title {
  padding: 0px;
  margin: 0px 0px 50px 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
}
.team-section .list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.team-list li:not(:first-child) {
  margin-left: 30px;
}

.team-list .card-img {
  background-color: var(--white-background-color);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-section .team-name {
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-section .team-text {
  padding: 0px;
  margin: 0px;
  color: var(--primary-black-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*FOOTER*/
.page-footer {
  background-color: var(--black-background-color);
  padding: 60px 0px 60px 0px;
}
.page-footer .logo {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  color: var(--primary-white-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.page-footer .logo-header {
  color: var(--accent-color);
}

.site-auth-footer {
  font-style: normal;
  margin: 0px;
  margin-top: 20px;
}
.site-auth-footer > li:hover a,
.site-auth-footer > li:focus a {
  color: var(--accent-color);
}
.site-auth-footer li:not(:first-child) {
  margin-top: 9px;
}
.address .link {
  color: var(--secondary-white-color);
  line-height: 1.71;
}
.page-footer .link.current {
  color: var(--primary-white-color);
}

/*Portfolio*/
.link.portfolio {
  color: var(--accent-color);
}
.project-section {
  background-color: var(--white-background-color);
  padding: 94px 0px 94px 0px;
}
.project-section .exemple {
  display: none;
}
.project-section .button-nav {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.6;
}
.button-nav .button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px;
  font-weight: 500;
  background-color: var(--secondary-white-background-color);
  color: var(--secondary-black-color);
}
.button-nav button {
  cursor: pointer;
}
.button-nav .current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.button-nav .project-link {
  padding: 0px;
  margin: 0px;
}
.button-nav li:not(:last-child) {
  margin-right: 30px;
}
.button-nav > li :hover,
.button-nav > li :focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.project-section .project-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}

.project-list li:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}
.project-list li:not(:nth-child(3n + 1)) {
  margin-left: 30px;
}
.project-list .project-link {
  margin: 0px;
}
.project-section .card {
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-white-color);
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.project-section .title {
  padding: 0px;
  margin: 20px 24px 4px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}
.project-section .text {
  padding: 0px;
  margin: 0px;
  margin-left: 24px;
  color: var(--primary-black-color);
  font-size: 16px;
  line-height: 1.88;
}
